
#heroCTACoinInfoContainer{


    width: 63vw; 
  
    display: grid; 
    place-content: center;
    margin: 4rem auto; 
    max-width: 935px; 
    
    
    min-height: 6.813rem; 
    }
    
    
  
    
    #heroCTACoinInfoSubContainer{
    
        width: 100%;  
        
        display: grid; 
        place-content: center;
        
        
        
        
    }
    
    
    
    #heroCTAList{
    
    display: flex; 
    list-style: none; 
    
    
    
        
    }
    
    
    
    #heroCTAListItem{
    
   
      position: relative; 
      

      /* outline: 1px solid blue;  */

      margin-left: 4.375rem; 
    font-size: clamp(0.8rem, 0.5vw + 0.3rem, 0.77rem); 
      
      
      /* margin-left: clamp(1rem, 0.5vw + 1rem, 4.5rem) !important     */
        
        
    }
    
    #heroCTASCAddress{
    
    position: absolute; 
    top: 0%; 
    left: 0%; 
    transform: translate(0rem, -1rem) !important; 
    font-size: clamp(0.35rem, 0.5vw + 0.3rem, 0.77rem); 
    
    
    font-weight: 650;
        
        
    }
    
    #heroCTANetworkSpan{
    
        
        position: absolute; 
        top: 0; 
        left: 0;
        
    font-size: clamp(0.35rem, 0.5vw + 0.3rem, 0.77rem); 

        /* font-size: 0.8rem;  */
        font-weight: 650; 
        transform: translate(0, -1rem) !important; 
        
        
        
        
    }
    
    
    
    
    .CTALeftItem{
    
        margin-left: -12% !important; 
        
        }
    
    #heroCTADecimalsSpan{
    
    
        position: absolute; 
        top: 0; 
        left: 0;
        
    font-size: clamp(0.35rem, 0.5vw + 0.3rem, 0.77rem); 

        /* font-size: 0.8rem;  */
        font-weight: 650; 
        transform: translate(0, -1rem) !important; 
       
    
        
    }
    @media(max-width: 1100px){
    
    #heroCTAList{
    
    display: none !important; 
    
    
    }
    
    
    }
    
    @media(min-width: 1100px){
    
        #heroCTAListItemMobile{
    
           display:none; 
           
           
        
        }
        
        
        #heroCTASCAddressMobile{
            
           display: none;  
           
           
           
            
        }
    
    
    
    }
    
    @media(max-width: 1300px){
    
        #heroCTAListItem{
        
        
      margin-left: clamp(1rem, 0.5vw + 1rem, 4.5rem) !important    
        
        
        
        
        }
        
        .CTALeftItem{
    
            margin-left: -42% !important; 
            
            /* outline: 5px solid red;  */
            
            
            }
    
    
    
    }








