
#heroCTACoinInfoContainer{


    width: 80vw; 
    outline: 4px solid blue; 
    display: grid; 
    place-content: center;
    margin: 0 auto; 
    
        
        
        
    }
    
    #heroCTACoinInfoSubContainer{
    
        
        
        
    }
    
    
    
    #heroCTAList{
    
        
        
    }
    
    
    #heroCTAListItem{
    
        
        
        
    }
    
    #heroCTASCAddress{
    
        
        
    }
    
    #heroCTANetworkSpan{
    
        
        
        
    }
    
    
    
    
    #heroCTAListItem{
    
        
    }
    
    #heroCTADecimalsSpan{
    
        
    }


























































































































