  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#navBarContainer{

    outline: 4px solid lime; 

    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    min-height: 5rem; 
    width: 99.99vw; 



}


#logoContainer{



        width: max-content; 
        place-self: center;


        position: absolute; 

        left: 0; 
        top: 25%; 

        cursor: pointer;
        
}


#navLogo{



}


#logoCasing{


text-transform: uppercase; 

font-weight: 900; 
font-size: clamp(1.1rem, 1vw + 1rem, 1.65rem) !important; 



}




#navbarSubContainer{


    width: 95%; 
    height: 5rem; 
    margin: 0 auto; 

    position: relative; 

    

}



#navbarButtonGroup{

    /* outline: 10px solid red;  */
    height: 5rem; 
    position: absolute; 
    right: 0;
    top: 0; 
    display: flex; 
    place-items: center;
    margin-right: 2%; 
    
    

}





#navbarButtonList{


    /* outline: 12px solid lime;  */


}





#navbarListItem{


    display: inline-block; 

    margin-left: 2.313rem; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    
    
            


}







































































