


#coinbaseHeroContainer{

    outline: 4px solid lime; 
    width: 90vw; 
    margin: 5rem auto; 
    color: black; 

     
    
}


#coinbaseHeroSubContainer{
    
    width: 69.336vw; 
    /* outline: 7px solid red; */
    margin: 0 auto; 
    display: grid; 
    place-content: center; 
    grid-template-columns: 1fr 1fr;

    
}



#coinbaseHeroImageSection{

    
    
    
}


#coinbaseHeroImageContainer{

    
    
}



#coinbaseHeroImage{

background-image: url('../assets/SpaceTradingImage.jpeg'); 
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
min-height: 33.938rem;
width: 35rem; 
max-width: 35rem; 

border-radius: 20px; 


}



#coinbaseHeroTextSection{



outline: 7px solid blue; 
display: grid; 
align-content: center;
    
    
    
}



#coinbaseHeroTextSectionContainer{

    
    
}


#coinbaseHeroTextHeader{

/* Clamp the text here */
font-size: clamp(1.1rem, 1vw + 2rem, 4.65rem); 

outline: 4px solid lime; 
/* width: max-content; */
width: 90%; 
margin: 0 auto;
/* text-align: center; */
font-weight: 600;;

    
}


#coinbaseHeroTextInfoContainer{

    
    
}

#coinbaseHeroTextParagraph{


outline: 7px solid red;
width: 90%; 
margin: 0 auto; 

margin-top: 1rem;
font-size: clamp(1rem, 1vw + 1rem, 1.8rem);
font-weight: 450;
    

    
}


#coinbaseHeroCTAContainer{

    outline: 5px solid lime; 
    
}


#coinbaseCTAText{

    
}



#coinbaseCTAButton{

    
}


#coinbaseSpan{

    
    
}

















































