


#coinbaseHeroContainer{

    outline: 4px solid lime; 
    width: 90vw; 
    margin: 5rem auto; 
    color: black; 

     
    
}


#coinbaseHeroSubContainer{
    
    width: 69.336vw; 
    
    
}



#coinbaseHeroImageSection{

    
    
    
}


#coinbaseHeroImageContainer{

    
    
}



#coinbaseHeroImage{

    
    
}



#coinbaseHeroTextSection{

    
    
    
}



#coinbaseHeroTextSectionContainer{

    
    
}


#coinbaseHeroTextHeader{
    
}


#coinbaseHeroTextInfoContainer{

    
    
}

#coinbaseHeroTextParagraph{

    
    
}


#coinbaseHeroCTAContainer{

    
    
}


#coinbaseCTAText{

    
}



#coinbaseCTAButton{

    
}


#coinbaseSpan{

    
    
}

















































